
body {
    background-image: url(./images/bg-mobile.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #684BB1;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

header {
    margin-top: 3rem;
    margin-bottom: 6rem;
}

main {
    color: white;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    line-height: 1.5;
}

.community {
    max-width: 300px;
    margin: 6rem auto 4rem auto;
}

.register-btn {
    font-size: 0.875rem;
    border: none;
    border-radius: 2rem;
    padding: 1.2rem 6rem;
    color: hsl(257, 40%, 49%);
    cursor: pointer;
    margin-top: 1rem;
}

.register-btn:hover {
    background-color: hsl(300, 69%, 71%);
    color: white;
}

.fab {
    color: white;
    font-size: 0.8rem;
    padding: 0.8rem;
    margin: 0.25rem;
    border: 1px solid white;
    border-radius: 50%;
}

.fab:hover {
    cursor: pointer;
    color: hsl(300, 69%, 71%);
    border: 1px solid hsl(300, 69%, 71%);
}

footer p {
    margin-top: 3rem;
    font-size: 0.8rem;
    color: white;
}

a {
    text-decoration: none;
    color: tomato;
}


@media screen and (min-width: 768px) {

    body {
        background-image: url(./images/bg-desktop.svg);
        text-align: left;
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-left: 3rem;
    }

    footer {
        margin-top: 3rem;
        margin-right: 3rem;
        align-self: flex-end;
    }

    main {
        display: flex;
        justify-content: flex-end;
    }

    .community {
        margin: 1.5rem 4rem 4rem 4rem;
        max-width: 450px;
    }

    h1 {
        font-size: 2.5rem;
    }

}